/*Global*/
* {
  padding: 0px;
  margin: 0px;
}

body {
  background: white;
}

/*Typography*/
a {
  text-decoration: none;
  color: hsl(205, 100%, 9%);
}

a:hover {
  text-decoration: underline;
}

.description {
  color: blue;
}

/*Layout*/
.project {
  width: 75%;
  height: 250px;
  border: 2px solid #001B2E;
  margin: 0px auto;
  font-size: 20px;
}

nav {
  text-align: center;
}

nav li {
  color: #001B2E;
  display: inline;
  padding: 0% 10%;
  font-size: 35px;
  border-bottom: 2px solid #001B2E;
  border-left: 2px solid #001B2E;
  border-right: 2px solid #001B2E;
  background: white;
}

.thumbnail {
  width: 75%;
  float: left;
  display: inline;
  border-right: 2px solid #001B2E;
}
